/*
 * *** Base Styles ***
 */

body {
    background-color: var(--ap-color-bg);
}

a {
    color: var(--ap-color-link);
    text-decoration: none;
}

a:hover {
    color: var(--ap-color-link-hover);
    text-decoration: underline;
}

a:active {
    color: var(--ap-color-link-active);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--ap-color-text);
}

.ap-heading-sm {
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 0.25rem;
}

.ap-heading-md {
    font-size: 1.125rem;
    font-weight: normal;
    margin-bottom: 0.25rem;
}

.ap-heading-lg {
    font-size: 1.5rem;
    font-weight: normal;
    margin-bottom: 0.25rem;
}

.ap-bold {
    font-weight: bold;
}

@media screen and (min-width: 1024px) {
    .ap-container {
        display: grid;
        gap: 1rem;
        grid-template-columns: 200px auto 300px;
    }
}