/* 
 * Footer
 */

.ap-footer {
    padding: 1rem;
}

.ap-utility-menu {
    list-style: none;
}

.ap-utility-item {
    display: inline-block;
}

.ap-utility-item::after {
    content: " | ";
}

.ap-utility-item:last-child::after {
    content: "";
}

.ap-copyright,
.ap-utility-link {
    font-size: 1rem;
}

@media screen and (min-width: 1024px) {

    .ap-copyright,
    .ap-utility-link {
        font-size: 0.875rem;
    }
}

.ap-footer-app {
    border-top: 1px hsl(0, 0%, 90%) solid;
}