/*
 * *** Header ***
 */

.ap-banner,
.ap-menu-main {
    align-items: center;
    display: flex;
    padding: 0 1rem;
}

.ap-banner {
    height: 4rem;
}

.ap-menu-main {
    height: 3rem;
}

.ap-login-menu {
    margin-left: auto;
}

.ap-logotype {
    display: none;
}

.ap-menu {
    align-items: center;
    display: flex;
    list-style: none;
}

.ap-menu-item {
    display: block;
    margin-right: 1rem;
}

.ap-menu-item:last-child {
    margin-right: 0;
}

.ap-menu-link {
    align-items: center;
    display: flex;
    height: 3rem;
}

@media screen and (min-width: 768px) {
    .ap-logotype {
        display: inline;
        font-size: 1.5rem;
        font-weight: normal;
        margin-left: 0.5rem;
    }
}

.ap-banner-app {
    background-color: var(--ap-color-fg);
}

.ap-logo-app {
    color: var(--ap-color-logo);
    fill: var(--ap-color-logo);
}

.ap-menu-main {
    border-bottom: 1px var(--ap-color-border) solid;
}

.ap-menu-link-main {
    color: var(--ap-color-menu-link);
    border-bottom: 4px transparent solid;
}

.ap-menu-link-main:hover {
    color: var(--ap-color-menu-link-hover);
    border-bottom: 4px var(--ap-color-link) solid;
    text-decoration: none;
}

.ap-menu-link-main:active,
.ap-menu-link-main.active {
    color: var(--ap-color-menu-link-active);
    border-bottom: 4px var(--ap-color-menu-link-active) solid;
}