/*
 * *** Header ***
 */

/* Layout styles */

.ap-banner,
.ap-menu-main {
    align-items: center;
    display: flex;
    padding: 0 1rem;
}

.ap-banner {
    height: 4rem;
}

.ap-menu-main {
    height: 3rem;
}

.ap-login-menu {
    margin-left: auto;
}

.ap-logotype {
    display: none;
}

.ap-menu {
    align-items: center;
    display: flex;
    list-style: none;
}

.ap-menu-item {
    display: block;
    margin-right: 1rem;
}

.ap-menu-item:last-child {
    margin-right: 0;
}

@media screen and (min-width: 768px) {
    .ap-logotype {
        display: inline;
        font-size: 1.5rem;
        font-weight: normal;
        margin-left: 0.5rem;
    }
}

/* Skin */

body {
    background-color: hsl(0, 0%, 99%);
}

.ap-banner-app {
    background-color: hsl(0, 0%, 95%);
}

.ap-menu-main {
    border-bottom: 1px hsl(0, 0%, 90%) solid;
}