/*
 * Contents
 * 
 * 1. Reset
 * 2. Theme Variables
 * 3. Header
 * 4. Footer
 * 5. Components
 * 6. Utility Classes
 */

/*
 * Reset
 */

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
}

img {
    height: auto;
    max-width: 100%;
}

/*
 * Theme variables
 */

:root {
    --color-bg: white;
    --color-bg-dark: lightgray;
    --color-border: lightgray;
    --color-text: black;
    --color-logo: black;
    --color-menu-text: dimgray;
    --color-menu-text-hover: darkblue;
    --color-menu-text-active: black;
    --color-menu-underline: royalblue;
    --color-btn: royalblue;
    --color-btn-hover: blue;
    --color-btn-active: darkblue;
}

/*
 * *** Header ***
 */

/* Layout styles */

.ap-banner,
.ap-menu-main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 1rem;
}

.ap-banner {
    height: 4rem;
}

.ap-menu-main {
    height: 3rem;
}

.ap-login-menu {
    margin-left: auto;
}

.ap-logotype {
    display: none;
}

.ap-menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

.ap-menu-item {
    display: block;
    margin-right: 1rem;
}

.ap-menu-item:last-child {
    margin-right: 0;
}

@media screen and (min-width: 768px) {
    .ap-logotype {
        display: inline;
        font-size: 1.5rem;
        font-weight: normal;
        margin-left: 0.5rem;
    }
}

/* Skin */

body {
    background-color: hsl(0, 0%, 99%);
}

.ap-banner-app {
    background-color: hsl(0, 0%, 95%);
}

.ap-menu-main {
    border-bottom: 1px hsl(0, 0%, 90%) solid;
}

/* 
 * Footer
 */

.ap-footer {
    padding: 1rem;
}

.ap-utility-menu {
    list-style: none;
}

.ap-utility-item {
    display: inline-block;
}

.ap-utility-item::after {
    content: " | ";
}

.ap-utility-item:last-child::after {
    content: "";
}

.ap-copyright,
.ap-utility-link {
    font-size: 1rem;
}

@media screen and (min-width: 1024px) {

    .ap-copyright,
    .ap-utility-link {
        font-size: 0.875rem;
    }
}

.ap-footer-app {
    border-top: 1px hsl(0, 0%, 90%) solid;
}

/*
 * *** Components ***
 */

/* Links */

a {
    color: rgb(19, 89, 186);
    -webkit-text-decoration: none;
    text-decoration: none;
}

a:hover {
    color: rgb(1, 47, 110);
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

a:active {
    color: #000;
}

/* Buttons */

.ap-button {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3rem;
    padding: 0 1rem;
}

.ap-button-primary {
    background-color: rgb(19, 89, 186);
    border-radius: 8px;
    color: white;
}

.ap-button-primary:hover {
    background-color: rgb(1, 47, 110);
    color: white;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.ap-button-primary:active {
    background-color: black;
    color: white;
}

/*
 * Utility Classes
 */

.ap-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}