/*
 * Contents
 * 
 * 1. Reset
 * 2. Theme Variables
 * 3. Base Styles
 * 4. Header
 * 5. Footer
 * 6. Components
 * 7. Utility Classes
 */

/*
 * Reset
 */

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

img {
    height: auto;
    max-width: 100%;
}

/*
 * Theme variables
 */

:root {
    --ap-color-bg: #FAFBFC;
    --ap-color-fg: #E4E5E6;
    --ap-color-text: #0D0D0D;
    --ap-color-logo: var(--ap-color-text);
    --ap-color-border: #CACBCC;
    --ap-color-link: #1571CC;
    --ap-color-link-hover: #0D4478;
    --ap-color-link-active: #05172A;
    --ap-color-menu-link: #656666;
    --ap-color-menu-link-hover: var(--ap-color-link);
    --ap-color-menu-link-active: var(--ap-color-text);
    --ap-color-btn: var(--ap-color-link);
    --ap-color-btn-hover: var(--ap-color-link-hover);
    --ap-color-btn-active: var(--ap-color-link-active);
    --ap-color-btn-text: #FFF;
}

/*
 * *** Base Styles ***
 */

body {
    background-color: #FAFBFC;
    background-color: var(--ap-color-bg);
}

a {
    color: #1571CC;
    color: var(--ap-color-link);
    -webkit-text-decoration: none;
    text-decoration: none;
}

a:hover {
    color: #0D4478;
    color: var(--ap-color-link-hover);
    -webkit-text-decoration: underline;
    text-decoration: underline;
}

a:active {
    color: #05172A;
    color: var(--ap-color-link-active);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #0D0D0D;
    color: var(--ap-color-text);
}

/*
 * *** Header ***
 */

.ap-banner,
.ap-menu-main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 1rem;
}

.ap-banner {
    height: 4rem;
}

.ap-menu-main {
    height: 3rem;
}

.ap-login-menu {
    margin-left: auto;
}

.ap-logotype {
    display: none;
}

.ap-menu {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
}

.ap-menu-item {
    display: block;
    margin-right: 1rem;
}

.ap-menu-item:last-child {
    margin-right: 0;
}

.ap-menu-link {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3rem;
}

@media screen and (min-width: 768px) {
    .ap-logotype {
        display: inline;
        font-size: 1.5rem;
        font-weight: normal;
        margin-left: 0.5rem;
    }
}

.ap-banner-app {
    background-color: #E4E5E6;
    background-color: var(--ap-color-fg);
}

.ap-logo-app {
    color: #0D0D0D;
    color: var(--ap-color-logo);
    fill: #0D0D0D;
    fill: var(--ap-color-logo);
}

.ap-menu-main {
    border-bottom: 1px #CACBCC solid;
    border-bottom: 1px var(--ap-color-border) solid;
}

.ap-menu-link-main {
    color: #656666;
    color: var(--ap-color-menu-link);
    border-bottom: 4px transparent solid;
}

.ap-menu-link-main:hover {
    color: #1571CC;
    color: var(--ap-color-menu-link-hover);
    border-bottom: 4px #1571CC solid;
    border-bottom: 4px var(--ap-color-link) solid;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.ap-menu-link-main:active,
.ap-menu-link-main.active {
    color: #0D0D0D;
    color: var(--ap-color-menu-link-active);
}

/* 
 * Footer
 */

.ap-footer {
    padding: 1rem;
}

.ap-utility-menu {
    list-style: none;
}

.ap-utility-item {
    display: inline-block;
}

.ap-utility-item::after {
    content: " | ";
}

.ap-utility-item:last-child::after {
    content: "";
}

.ap-copyright,
.ap-utility-link {
    font-size: 1rem;
}

@media screen and (min-width: 1024px) {

    .ap-copyright,
    .ap-utility-link {
        font-size: 0.875rem;
    }
}

.ap-footer-app {
    border-top: 1px #CACBCC solid;
    border-top: 1px var(--ap-color-border) solid;
}

/*
 * *** Components ***
 */

/* Buttons */

.ap-button {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3rem;
    padding: 0 1rem;
}

.ap-button-primary {
    background-color: #1571CC;
    background-color: var(--ap-color-btn);
    border-radius: 8px;
    color: #FFF;
    color: var(--ap-color-btn-text);
}

.ap-button-primary:hover {
    background-color: #0D4478;
    background-color: var(--ap-color-btn-hover);
    color: #FFF;
    color: var(--ap-color-btn-text);
    -webkit-text-decoration: none;
    text-decoration: none;
}

.ap-button-primary:active {
    background-color: #05172A;
    background-color: var(--ap-color-btn-active);
    color: #FFF;
    color: var(--ap-color-btn-text);
}

@media screen and (min-width: 1024px) {
    .ap-button {
        height: 2rem;
    }
}

/*
 * Utility Classes
 */

.ap-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}