/*
 * Theme variables
 */

:root {
    --ap-color-bg: #FAFBFC;
    --ap-color-fg: #E4E5E6;
    --ap-color-text: #0D0D0D;
    --ap-color-logo: var(--ap-color-text);
    --ap-color-border: #CACBCC;
    --ap-color-link: #1571CC;
    --ap-color-link-hover: #0D4478;
    --ap-color-link-active: #05172A;
    --ap-color-menu-link: #656666;
    --ap-color-menu-link-hover: var(--ap-color-link);
    --ap-color-menu-link-active: var(--ap-color-text);
    --ap-color-btn: var(--ap-color-link);
    --ap-color-btn-hover: var(--ap-color-link-hover);
    --ap-color-btn-active: var(--ap-color-link-active);
    --ap-color-btn-text: #FFF;
}